<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true"/>
  <arg name="gazebo_args" default="-u"/>

  <include file="$(find agn_gazebo)/launch/start.launch">
   <arg name="world" value="rescue_simple.world"/>
   <arg name="gui" value="$(arg gui)"/>
   <arg name="gazebo_args" value="-u"/>
  </include>

<include file="$(find husky_gazebo)/launch/spawn_husky.launch" />

</launch>
